@font-face {
  font-family: "Open Sans Condensed";
  src: url(fonts/OpenSans-CondLight.ttf);
}

.container {
    display: flex;
    width: 100%;
}

.contentA {
    order: 2;
    -webkit-order: 2;
}

.contentB {
  width: 820px;
  height: 540px;
}

h1 {
  color: Black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 38px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-left: 40px;
}

ul {
  list-style-type: none;
  background-color: none;
  position: relative;
}

li a {
  display: block;
  color: Black;
  margin: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 1px;
}

li a:active {
  color: #69c7ab;
}

li a:hover {
  color: #69c7ab;
}

.center {
	position: relative;
	top: 8.6%;
	left: 15%;
	width: 60%;
	height: auto;
}
#mobileImage {
  display: none;

}
#desktopImage {
  width: 100%;
  height: 540px;
  padding-top: 40px;
}
@media only screen and (max-width: 810px) {
  #contentB {
    display: none;
  }
  #mobileImage {
    display: inline-block;
    padding-left: 40px;
    width: 100%;
    height: 400px;
  }
}

@media only screen and (max-width: 980px) {
  #desktopImage {
    width: 600px;
    height: 300px;
  }
}
@media only screen and (max-width: 650px) {
  #mobileImage {
    width: 100%;
    height: 300px;
    margin-right: 40px;
  }
}
@media only screen and (max-width: 500px) {
  #mobileImage {
    /* width: 360px; */
    height: 200px;
  }
}

@media only screen and (max-width: 410px) {
  #mobileImage {
    /* width: 250px; */
    height: 150px;
  }
}